// Main imports here

// Lets grab Tachyons
@import "~tachyons";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
}

.c-main-canvas {
    display: flex;

    #title {
        height: 32px;
        font-size: 32px;
        line-height: 32px;
        width: 100%;
        display: block;
        font-weight: bold;
        text-align: center;
        z-index: 1;
    }

    .c-suburb-isometric {
        flex-grow: 1;
    }

    .c-suburb-controls {
        margin-bottom: 8px;
    }

    .c-suburb-som {
        position: fixed;
        bottom: 0;
    }

    .c-suburb-som-map {
        border: 1px solid black;
    }
}

.c-suburb-geography {
    margin-bottom: 12px;
}

.c-suburb-panel {
    width: 400px;
    right: 0;
    position: absolute;
    margin: 12px;
}

#c-isometric-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}


.card{
    background: white;
    padding: 8px 12px;
    border-radius: 3px;
}

.key {
    position: fixed;
    left: 0;

    margin: 12px;

    svg {
        position: relative;
        top: 4px;
    }
}
