<html>
  <head>
    <title>SydCity - A Govhack 2019 project</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div class="c-main-canvas">
      <div class="c-suburb-isometric">
        <!-- The isometric map for the suburb -->
        <div><span id="title"></span></div>
        <!-- todo: make responsive :S -->
        <canvas id="c-isometric-canvas"> </canvas>
      </div>
      <div class="key-container ba pa2">
        <div class="">
          <div class="f4 lh-copy">Legend</div>
        </div>
        <div class="key" id="legend">
          <div id="legend-entry-template" style="display: none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              width="20"
              height="20"
              x="0px"
              y="0px"
              viewBox="0 0 58 58"
              style="enable-background:new 0 0 58 58;"
              xml:space="preserve"
            >
              <g>
                <polygon data-target="cube-left" points="29,33 3,20 3,13 29,26" />
                <polygon
                data-target="cube-right"
                  points="29,33 55,20 55,13 29,26"
                />
                <polygon data-target="cube-top" points="3,13 28,0 55,13 29,26  " />
              </g>
            </svg>
            <span data-target="label"></span>
          </div>
        </div>
      </div>
      <div class="c-suburb-panel">
        <div class="c-suburb-geography pa3 card shadow-3">
          <div class="f3 lh-copy">
            <span class="c-suburb-geography__name"></span>
          </div>
          <div>
            Population: <span class="c-suburb-geography__population"></span>
          </div>
          <div>
            Religious: <span class="c-suburb-geography__religious"></span>
          </div>
          <div>Median rent: <span class="c-suburb-geography__rent"></span></div>
          <div>
            Rental rate: <span class="c-suburb-geography__rent-rate"></span>
          </div>
          <div>
            Unemployment: <span class="c-suburb-geography__unemployment"></span>
          </div>
        </div>
        <div class="c-suburb-controls shadow-3 card">
          <!-- Various toggles for the suburbs -->
          <div class="f3 lh-copy">Controls</div>
          <button id="randomise-btn" class="ma2">Generate random suburb</button>
          <button id="real-suburb-btn" class="ma2">Select random Sydney suburb</button>
        </div>
        <div class="c-suburb-som">
          <!-- The SOM for the suburbs -->
          <div id="similar-label"></div>
          <div id="similar-map" class="c-suburb-som-map"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
